<div class="container">
  <div id="basicExample">
    <%= User.find_each(batch_size: 10) do |u| %>
        <div>
          <% if user_signed_in? %>
          <a href="<%= u.avatar.url %>" rel="gallery1">
            <img alt="<%= u.name %>" src="<%= u.avatar.url(:medium) %>"/>
          </a>
          <% else %>
          <img alt="<%= u.name %>" src="<%= u.avatar.url(:medium) %>"/>
          <% end %>
          <div class="caption">
            follow me:<%= u.email %>
            I'm <span style="color:red">a</span> <strong>custom</strong> caption!
            <div>I'm a div</div>
          </div>
        </div>
    <% end %>
  </div>
</div>
<script>
    $('#basicExample').justifiedGallery({
        lastRow : 'hide',
        rowHeight : 130,
        rel : 'gallery1',
        margins : 5,
        randomize: true
    }).on('jg.complete', function () {
        <% if user_signed_in? %>
        $(this).find('a').colorbox({
            maxWidth : '80%',
            maxHeight : '80%',
            opacity : 0.8,
            transition : 'elastic',
            current : ''
        });
        <% else %>
        $(this).find('img').click(function(){
            location.href = '<%= new_user_session_path %>';
        });
        <% end %>
    });
</script>